{% extends "base.html" %}
{% load static %}

{% block title %}Início{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-6 col-lg-6 offset-sm-0 offset-md-3 offset-md-3">
                    <form method="GET" action="{% url 'medics' %}">
                        <h3 class="text-center">Buscar um médico</h3>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="name" class="sr-only">Nome do médico</label>
                                <input type="text" class="form-control" id="name" name="name"
                                       placeholder="Digite o nome do médico">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="speciality" class="sr-only">Especialidade</label>
                                <select class="form-control" name="speciality" id="speciality">
                                    <option value="0" selected disabled>Selecione uma especialidade</option>
                                    <option value="1">Neurocirurgia</option>
                                </select>
                            </div>
                            <div class="col form-group">
                                <label for="state" class="sr-only">Estado</label>
                                <select class="form-control" name="state" id="state">
                                    <option value="0" selected disabled>Selecione uma estado</option>
                                    <option value="1">Rio de Janeiro</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="city" class="sr-only">Cidade</label>
                                <select class="form-control" name="city" id="city">
                                    <option value="0" selected disabled>Selecione uma cidade</option>
                                    <option value="1">Rio de Janeiro</option>
                                </select>
                            </div>
                            <div class="col form-group">
                                <label for="neighborhood" class="sr-only">Bairro</label>
                                <select class="form-control" name="neighborhood" id="neighborhood">
                                    <option value="0" selected disabled>Selecione uma bairro</option>
                                    <option value="1">Botafogo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group mb-0">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/home.js" %}"></script>
{% endblock %}

